.chart {
    flex: 4;
    background-color: white;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-left: 28px;

  
  
    .title {
      font-size: 1em;
      font-weight: 600;
      padding: 1rem;
      color: #2c3038;
      width: 100%;
      line-height: 1rem;
    }
  
    .chartGrid {
      stroke: rgb(228, 225, 225);
    }
  }
  .chartm {
    margin-top: 5px !important;
  }
  .chart-top {
    border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
    height: 10vh;
    display: flex;
}
#dropdown-basics{
  background-color: transparent;
  color: black;
  border-color: #e7eaf3 ;
  font-size: 14px;
  margin-top: 8px;
}
.chart-dropdown {
  display: flex;
  justify-content: flex-end;
  width: 82%;
}

.chart-item {
  flex-direction: column;

}
.text-blue-custom {
  color: rgba(118, 56, 255); // Custom blue color with 50% opacity
}

/* Custom color class for dark red */
.text-red-custom {
  color: red; // Dark red with 90% opacity
}